{% extends 'base.html' %}
{% block title%} Wise Parenting Principles from Proverbs {% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-8 col-12">
      <h2>Wise Parenting Principles from Proverbs</h2>

      <p>
        For thirty years, Chris R. Cutshall has served as the senior pastor of Fresno Bible Church in Ohio. Now he has collected a sermon series on Christian parenting,
        originally preached to his church family in Ohio, in this inspirational book: Wise Parenting Principles from Proverbs.
      </p>

      <p>
        In 2004, Cutshall’s twenty-two year old daughter was murdered just before she was to be married. Since then, he has felt a calling to assist other parents in
        making the most of the time they have with their children. The insights found in this book are principles Cutshall used in raising his own two girls, ones he feels
        uniquely prepared his daughter for her death. Wise Parenting Principles from Proverbs offers forty biblical principles that cover essentially every parenting challenge
        of our day, including how to train children to walk in the truth of God’s Word, to trust the Lord with all their hearts, to correct both behaviors and attitudes,
        to protect them from the enticements of immorality, and much more!
      </p>

      <p>
        Whether you are a single parent or part of a more traditional home, these proverbs are lanterns in a dark world of uncertainty. Our time is short. If you are hoping
        to raise your children according to the wisdom of God, the time to act is now while they are still living under your roof!
      </p>

      <p>
        <strong>Like our Facebook Page</strong>
      </p>

      <p>
        <a href="https://www.facebook.com/Wise-Parenting-Principles-from-Proverbs-335730440125343/" target="_blank">
          <img src="{{url_for('static', filename='images/icon-fb.png')}}" style="width: 45px;" /> Wise Parenting Principles from Proverbs
        </a>
      </p>

      <br />

      <h2>About the Author</h2>

      <img src="{{url_for('static', filename='images/chriscutshall.jpg')}}" class="img-fluid img-circle" style="float: left; width: 15%; margin-right: 15px;" />

      <p>
        After his daughter’s murder in 2004, pastor Chris R. Cutshall has traveled throughout the United States, as well as to Canada, Panama and Brazil, sharing his
        testimony of faith and hope and helping parents understand the urgency that comes along with bringing up children according to biblical principles.
      </p>

      <p>
        Cutshall, a graduate of Arizona College of the Bible in Phoenix, Arizona, is the senior pastor of Fresno Bible Church in Fresno, Ohio, where he has served
        for thirty years. He and his wife, Kathy, have been married for forty-one years. Together they have two daughters, two grandsons, and a foster granddaughter.
      </p>

      <br />
      <br />

      <h2  style="clear: left;">Q & A with the Author</h2>

      <p>
        <strong>1) Why did you feel it was important to write this book?</strong>
      </p>

      <p>
        After my daughter died in 2004, I spent a lot of time teaching my church family on the vital necessity of being ready for their impending deaths and home going.
        The greatest comfort to me when Lindsay died was that she was at the peak of her young Christian experience. At 22 years old, she was ready. A burning question for me
        was this: are the people I serve as pastor ready? Are they ready for eternity by living for eternity now? Also, are our parents ready to lead their children into the
        truth of God’s Word so that they will be ready to live for Christ rather than for themselves? Even to this day, I have a passion to teach our parents to be ready so
        they can prepare their children to be ready. After preaching a sermon series on wise parenting from Proverbs, I was challenged by a member of our church to expand my
        teachings for not only the now but also the next generations of parents in our church, and, also, to expand its outreach to the larger body of Christ, the church. So
        my passion was and still is to help Christians whom God may allow me to reach with this book to be ready and to ready their beloved children.
      </p>

      <p>
        <strong>
          2) You take the principles in your parenting book directly from the Bible, specifically the book of Proverbs. Explain how you feel Proverbs directly applies
          Scripture to any situation a parent might face.
        </strong>
      </p>

      <p>
        The book of Proverbs is one of the quintessential wisdom books of the Bible. It is chock-full of practical principles for any believer’s life. When I decided to preach
        a sermon series on parenting from Proverbs, I began by working my way through the entire book in search for principles that apply to parenting. I was amazed to find so
        many, forty, in fact. Much of Proverbs is a wise father teaching his son or sons how to live life well by heeding his and his wife’s godly instruction. As I studied, I
        became more aware than ever that Proverbs was a treasure throve of truth that encompassed a wide spectrum of situations and circumstances spiritual parents face in
        raising their children. Not to my surprise, I also found that the other parenting passages in Scripture perfectly supported and sometimes expanded on the principles given
        in Proverbs. In a perfect marriage of truth between Bible books, God’s inspired Word addresses and answers all of our parenting questions and needs.
      </p>

      <p>
        <strong>3) How did the murder of your daughter in 2004 change the way you look at parenting?</strong>
      </p>

      <p>
        We often say that time is of the essence, but do we believe it? God made me believe it. Lindsay’s death taught me that life truly is short. Whether we live twenty-two
        years or ninety-two years, life on earth is short, and time is of the essence. So here’s how I see it: God has given me the gift of urgency. He has spoken to me through
        His Word in James 4:14, that life is ‘just a vapor that appears for a little while and then vanishes away.’  That urgency within me is the great and gracious gift God
        gave me. This gift shows up in my teaching and counseling ministry, but especially in my preaching. I’m more than sixty years old. I don’t know how much time I have left
        before I join Lindsay to stand in the presence of our heavenly Father and Christ Jesus our Lord, but I know it is not much time. And I don’t know how much time you have
        left to instill biblical principles into the minds and hearts of your children, to prepare them for a life of worship and service and eventual death. But I know it isn’t
        much time; it never is. And we all know that the competition for their time and attention is stiff—the world vies for as much of their time and ours as it can get.
        We must set aside anything that belongs to worldly wisdom and replace it with biblical principles that accomplish the righteousness of God, so that both the lives and
        deaths of our godly children will be precious in the sight of the Lord.
      </p>

      <p>
        <strong>4) Without giving away the book, how do parents embrace this sense of urgency towards parenting the right way?</strong>
      </p>

      <p>
        Urgency comes to parents when they are convinced and convicted that God’s way for their children as outlined in His Word is the only way for them to live. Then they
        come to the full realization that life truly is short and that the window of their opportunity to instruct them in the way is small. Wise parents come face-to-face with
        the truth that they only have one, short shot at raising their children with an eternal perspective. Parents often say, “Our children grow up so fast!” When that reality
        sinks deep within and is rooted in the parent’s mind and heart, he or she fully embraces a driving sense of urgency. They know without a shadow of doubt that this
        amazingly short life is only preparation for life eternal; consequently, they don’t waste time, energy, and effort in raising their children with eternity’s values in
        view.
      </p>

      <p>
        <strong>5) What do you hope to accomplish with this book?</strong>
      </p>

      <p>
        There is one great and all surpassing goal that all Christians and Christian parents should have: to glorify God in all that we do—God’s glory is meant to be our
        priority of all priorities. So, since time in instilling this overriding value into the inner fabric of our children is of the essence, I pray that this humble offering
        will help parents accomplish that purpose. My life verse is 2 Corinthians 5:9: “So whether we are at home [in heaven] or away [on earth], we make it our aim to please
        God.” We have a short time to please and glorify God in our parenting careers. My prayer and passion is that as many of us as possible make that our parenting-aim and
        stay right on target.
      </p>

      <br />
    </div>

    <div class="col-lg-4 col-md-4 col-12">

      <img src="{{url_for('static', filename='images/wiseparenting-medium.jpg')}}" class="img-fluid" />

      <br />
      <br />

      <h3>Purchase Options</h3>

      <a href="https://www.amazon.com/dp/154044449X/ref=sr_1_1?ie=UTF8&qid=1482285779&sr=8-1&keywords=wise+parenting+principles+from+proverbs" target="_blank">
        <img src="{{url_for('static', filename='images/amazon-black.jpg')}}" />
      </a>

      <h3>Praise for Wise Parenting Principles from Proverbs</h3>

      <p>
        <em>
          Forged in the furnace of affliction and the love of a Pastor’s heart, Wise Parenting Principles from Proverbs is full of helpful principles straight from God’s Word.
          I wish I had a manual like this when I was raising my own children and will keep copies on hand to give away to parents in the church where I serve. Chris has given us
          a tremendous resource for the Body of Christ.
        </em><br />
        –Robert H. Riedy, Senior Pastor of Church of the Open Door, York, PA
      </p>

      <p>
        <em>
          Chris Cutshall’s Wise Parenting Principles from Proverbs is top-notch! More than a how-to parenting book, it is a manual on how to be a parent. Starting with
          foundational biblical truths and building on those principles in God’s Word, it is a feast for those parents who long to train up their children in the way they
          should go. This has become my go-to reference and gift for parents.
        </em><br />
        -Missy Horsfall, Author, speaker, radio host, pastor’s wife
      </p>

      <p>
        <em>
          I've known Chris for thirty-five years, and through observing him raise his girls, I can testify that he practices what he preaches. This book was such a terrific
          read! He made the important point that the Bible needs to be the most important book from which we derive parenting principles. I appreciate the way he supported
          his wise parenting principles with pertinent illustrations and practical suggestions. I plan to recommend this practical and biblical book to everyone who will
          listen!
        </em><br />
        -David Brewer, Missionary with LIFE IN MESSIAH INTERNATIONAL, Bible teacher, Hebrew professor
      </p>

      <p>
        <em>
          Chris Cutshall speaks from the heart as well as from experience. His book, Wise Parenting Principles from Proverbs, is biblically sound and parentally motivating.
          I wish this book had been available when my four children were growing up. It contains such truth and is written in easy-to-understand language with practical
          suggestions for putting these examples into action.
        </em><br />
        -Becki Reiser, Speaker and author of THROUGH MY TEARS: AWASH IN FORGIVENESS
      </p>

      <p>
        <em>
          Intentional parenting is the pervasive theme of Wise Parenting Principles from Proverbs. The book offers guidance not only for parents but for all Christ-followers
          striving for faithfulness in their lives. Chris Cutshall convincingly reminds the reader that the window of opportunity for influencing our children is painfully
          short. Readers who desire their children to grow into faithful Christian adults who are confident in Jesus Christ’s love and promises for their lives will find this
          book full of gems of wisdom for family life.
        </em><br />
        -Chuck Ellis, President and co-owner of Pearl Valley Cheese Co.
      </p>

      <p>
        <em>
          As a mother of three young children, I believe this book is an essential “must read,” as well as a book to continually reference throughout the various seasons of
          childhood. It’s biblical and spot on as to what God’s Word says about raising children God’s way!
        </em><br />
        -Julia Fisher, Homemaker, mother, and wife
      </p>

      <p>
        <em>
          It can be easy to fall prey to guilt as a single parent. I am overwhelmed at times, feeling like I’m not providing a “normal” Christian home for my children. That’s
          why I am thankful for the encouragement I’ve found in Wise Parenting Principals from Proverbs. This book has reinforced for me that I am not alone while raising my
          children. I trust the Lord to provide strength for me as I seek His wisdom. And I am more aware now that in His grace He has provided godly men from our church
          family who have ministered to my children in positive ways. I’ve also been convicted to look toward the end of their life journeys to help me focus on how I parent
          each and every day in light of eternity.
        </em><br />
        -Emily Adams, single mother, Agriculture and Natural Resources Extension Educator
      </p>
    </div>
  </div>
{% endblock %}