{% extends "base.html" %}
{% block title %}{{ super() }}{{ sermon['Title']}}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-8">        
        <section class="sermon-section">
            <h4>{{ sermon['Title']}}</h4>
            <p><strong>Preacher: </strong>{{ sermon['PreacherName'] }} | <strong>Date: </strong>{{ sermon['SermonDate'].strftime('%b. %d, %Y') }}
                <br />
                <strong>Series: </strong> {{ sermon['SeriesTitle'] }}
            {% if sermon['NotesFile']|length > 0 %}
            <br /><a href="http://www.fresnobiblechurch.org/sermons/sermons/{{ sermon['NotesFile'] }}" target="_blank" class="sermonnotes">Download Sermon Notes</a>
            {% endif %}
            </p>

            <audio controls=controls>
                <source src="http://www.fresnobiblechurch.org/sermons/sermons/{{ sermon['AudioFile'] }}" type="audio/mpeg" />
                Your browser does not support our HTML5 media player. <a href="http://www.fresnobiblechurch.org/sermons/sermons/{{ sermon['AudioFile'] }}" target="_blank">Please click here to play.</a>
            </audio>

        </section>        
    </div>
    <div class="col-12 col-md-4">
        {% include 'sidebar.html' %}
    </div>
</div>
{% endblock %}