{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-sm-8 col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12170.303710536826!2d-81.7507679!3d40.307374!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x63598e0788eb546d!2sFresno+Bible+Church!5e0!3m2!1sen!2sus!4v1451350790988"  width="100%" height="80%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <h2>Join us!</h2>
            <p><strong>**COVID19 Announcement**</strong><br>
            For the time being, our regular ministries are on hold except Sunday morning worship. Please see the current times below for our services. We will update our times once we reopen more of our weekly ministries.
            <br><br> If you have any questions, feel free to contact us using the contact information provided.

            </p>
            <p>
                <strong>Sunday Services:</strong>
                    <ul>
                        <li>Early Worship Service - 8:00 AM</li>
                        <li>2nd Worship Service - 10:00 AM</li>
                        <li>Youth Group - 7:00 - 8 PM</li>
                    </ul>
            </p>
            <p>
                <strong>Wednesday Ministries:</strong>
                <ul>
                    <li>Prayer Meeting - 7:00 PM</li>
                </ul>
            </p>
            <br />
            <h4>Contact Information</h4>
            <strong>Church Address</strong>
            <p>24629 SR 93, Fresno, OH 43824</p>

            <strong>Mailing Address</strong>
            <p>PO Box 67, Fresno, OH 43824</p>

            <strong>Church Phone</strong>
            <p>(740) 545-7382</p>

            <strong>Church Email</strong>
            <p><a href="mailto:contact@fresnobilechurch.org">contact@fresnobiblechurch.org</a></p>

            <strong>Connect with FBC on Facebook</strong>
            <p><a href="https://www.facebook.com/groups/FresnoBibleChurch/" target="_blank">
            <img src="../images/icon-fb.png" style="width: 45px;" /></a></p>
        </div>
    </div>
{% endblock %}